.header {
  display: flex;
  padding: 50px;
  width: 45%;

  margin: 0 auto 0 auto;

  &__links {
    margin: auto 0 auto auto;
    display: flex;
    gap: 30px;

    &__link {
      font-weight: 500;
      color: var(--grey-300);
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: white;
      }
    }
  }

  &__logo {
    margin: auto auto auto 0;

    cursor: pointer;
  }
}
