.header {
  display: flex;
  padding: 50px 0px;
  width: 60%;

  margin: 0 auto 0 auto;

  &__links {
    margin: auto 0 auto auto;
    display: flex;
    gap: 30px;

    &__link {
      margin: auto;
      font-weight: 500;
      color: var(--grey-300);
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: white;
      }
    }

    &__link--active {
      color: white;
    }
  }

  &__logo {
    margin: auto auto auto 0;

    cursor: pointer;
  }
}

.guestbook__signout {
  margin: auto;
}
