@import './variables/index.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Inter';

  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

::selection {
  background: #ffffff;
  color: var(--background-dark);
}

.contact {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
