@import './variables/index.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Inter';
}

::selection {
  background: #ffffff;
  color: var(--background-dark);
}
