.login {
  margin-top: 20px;
  gap: 20px;
  display: flex;
  flex-flow: column;
  width: 100%;

  &__header {
    display: flex;

    :first-child {
      width: 40%;

      margin: auto auto auto 0;
      height: 1px;
      background-color: var(--popup-separator-color);
    }

    &__text {
      color: var(--white);
      font-weight: 500;
      font-size: 19px;
    }

    :last-child {
      width: 40%;

      margin: auto 0 auto auto;
      height: 1px;
      background-color: var(--popup-separator-color);
    }
  }

  &__form {
    margin: auto;
    width: fit-content;
  }
}
