.container {
  display: flex;
  gap: 10px;
}

.checkbox {
  width: fit-content;
  height: fit-content;
  padding: 0px 4px;

  background-color: transparent;
  border: 2px solid var(--primary-light);

  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;

  &__icon {
    opacity: 0;

    &--checked {
      opacity: 1;
    }
  }
}

.checkbox--checked {
  background-color: var(--primary-light);
  border: 2px solid var(--primary-light);
}

.label {
  color: white;
  font-weight: 400;
  font-size: 15px;
  margin: auto 0 auto 0;
  cursor: default;
}
