.main {
  margin-top: 15px;

  &__skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(276px, 0fr));
    gap: 15px;

    @media screen and (max-width: 624px) {
      display: flex;
      flex-flow: column;
    }
  }
}
