.main {
  padding: 25px;
  display: flex;
  flex-flow: column;
  gap: 15px;
  border-radius: 6px;
  background-color: var(--entry-bg);

  &__header {
    display: flex;

    &__name {
      color: white;
      font-weight: 600;
      font-size: 17px;
    }

    &__button {
      margin: auto 0 auto auto;
      padding: 0px !important;
      font-size: 14px !important;
      font-weight: 400 !important;

      &:hover {
        background-color: transparent !important;
        color: var(--danger-light);
      }
    }
  }

  &__content {
    color: var(--grey-300);
    max-width: 90%;

    * {
      width: 90%;
    }
  }
}
