.button {
  padding: 6px 14px;
  border-radius: 6px;
  width: fit-content;
  font-weight: 500;
  color: white;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: var(--primary-dark);
  }
}

.button--danger {
  color: var(--danger-button-text);

  &:hover {
    background-color: var(--danger-button-bg);
  }
}

.button--danger-loading {
  color: var(--danger-disabled) !important;
  cursor: default;

  &:hover {
    color: var(--danger-disabled) !important;
  }
}
