:root {
  --primary: #2e2e2e;
  --primary-dark: #252424;
  --primary-light: rgb(139, 137, 137);

  --white: #ffffff;
  --grey-300: #9e9e9e;
  --grey-400: #7e7e7e;

  --danger: rgb(210, 47, 80);
  --danger-light: rgba(210, 47, 80, 0.1);
}
