.popup-overlay {
  z-index: 29;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.76, 0, 0.24, 1),
    display 0.3s 0.5s ease-in;

  &--open {
    opacity: 1;
    display: block;
  }
}

.popup {
  min-height: 40vh;
  min-width: 30vw;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%) scale(0);
  background-color: #141414;
  color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  z-index: 30;
  border-radius: 20px;
  display: flex;
  opacity: 0;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: var(--primary-shadow);

  &--open {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  &--phone {
    min-height: 40vh;
    min-width: 30vw;
    position: fixed;
    border-radius: 20px 20px 0px 0px;
    background-color: #141414;
    color: #ffffff;

    right: 0;
    left: 0;
    bottom: 0;
    padding: 40px;
    display: flex;
    flex-flow: column;
    z-index: 300;
    display: flex;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transform: translateY(100%);

    &--open {
      transform: translateY(0);
    }
  }
}
